<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="form-content">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->