<!-- Begin About -->
<section id="section2" class="content container">

	<!-- Text -->
	<div class="title grid-full">
		<h2>About us</h2>
		<span class="border"></span>
		<p class="sub-heading">We are Visia. We offer creative solutions for every web-based project you can think of. We take pride in our work and everything we create is executed with precision and love.</p>
	</div>

	<!-- Image -->
	<img class="animated slide"  data-appear-bottom-offset="100" src="assets/about.jpg" alt="About Visia">
</section>
<!-- End About -->