<!-- Begin Clients -->
<section class="parallax-bg3 parallax black clearfix">
	<div class="content dark padded container">

		<!-- Title -->
		<div class="title grid-full">
			<h2>Clients</h2>
			<span class="border"></span>
		</div>

		<!-- Logos -->
		<ul id="bx-pager" class="animated fade grid-full" data-appear-bottom-offset="150">
			<li><a data-slide-index="0" href=""><img src="assets/clients/logo1.png" alt="logo" width="142" height="95"></a></li>
			<li><a data-slide-index="1" href=""><img src="assets/clients/logo2.png" alt="logo" width="142" height="95"></a></li>
			<li><a data-slide-index="2" href=""><img src="assets/clients/logo3.png" alt="logo" width="142" height="95"></a></li>
			<li><a data-slide-index="3" href=""><img src="assets/clients/logo4.png" alt="logo" width="142" height="95"></a></li>
		</ul>

		<div id="bx-prev"></div>
		<div id="bx-next"></div>

		<!-- Testimonials -->
		<div class="grid-full">
			<ul class="bxslider">
				<li>
					<h3>“Awesome, awesome theme. Easy to use and the code and accompanying files are super easy to understand and modify. Well done.”</h3>
					<h6>Ratings via twitter</h6>
				</li>
				<li>
					<h3>“Nice design! Looks / performs great on our iPad 3 – and this is not the case with most themes honestly!”</h3>
					<h6>Deorham via themeforest</h6>
				</li>
				<li>
					<h3>“Incredible project. Superclean code. It’s one of the best templates I’ve ever purchased. 5 stars and recommended to everyone. Thank you, Aether-Themes!”</h3>
					<h6>Malik via facebook</h6>
				</li>
				<li>
					<h3>“I just wanted to say, that the site and the framework are next to brilliant. Everything about it works great, and it was a cinch to put together.”</h3>
					<h6>bcause via themeforest</h6>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- End Clients -->