<!-- Begin Services -->
<section id="section3" class="parallax-bg2 parallax colored clearfix">
	<div class="content dark padded container">

		<!-- Text -->
		<div class="title grid-full">
			<h2>Services</h2>
			<span class="border"></span>
			<p class="sub-heading">Our services offering ranges from UX design to e-commerce setups. Just check out all of the service lists below to get a general idea of what we are capable of delivering. And make sure to see our portfolio for proof of our awesomeness.</p>
		</div>

		<!-- Icons -->
		<ul class="icons clearfix">

			<!-- Single Icon -->
			<li class="overview animated entrance" data-appear-bottom-offset="100">

				<!-- Feature List -->
				<div class="tooltip">
					<ul class="feature-list">
						<li><span class="list-dot"></span>Wireframing</li>
						<li><span class="list-dot"></span>Content Strategy</li>
						<li><span class="list-dot"></span>Information Architecture</li>
					</ul>
				</div>
				<span class="arrow-down"></span>

				<!-- Icon -->
				<div class="icon ux"></div>

				<!-- Title -->
				<h4>UX</h4>

			</li>

			<!-- Single Icon -->
			<li class="overview animated entrance" data-appear-bottom-offset="100">

				<!-- Feature List -->
				<div class="tooltip">
					<ul class="feature-list">
						<li><span class="list-dot"></span>Branding</li>
						<li><span class="list-dot"></span>Web Design</li>
						<li><span class="list-dot"></span>Mobile Apps</li>
						<li><span class="list-dot"></span>Animation and Motion</li>
					</ul>
				</div>
				<span class="arrow-down"></span>

				<!-- Icon -->
				<div class="icon design"></div>

				<!-- Title -->
				<h4>Design</h4>
			</li>

			<!-- Single Icon -->
			<li class="overview animated entrance" data-appear-bottom-offset="100">

				<!-- Feature List -->
				<div class="tooltip">
					<ul class="feature-list">
						<li><span class="list-dot"></span>Meta Information</li>
						<li><span class="list-dot"></span>Ad Words Campaign</li>
						<li><span class="list-dot"></span>Google Optimization</li>
						<li><span class="list-dot"></span>Bing Optimization</li>
					</ul>
				</div>
				<span class="arrow-down"></span>

				<!-- Icon -->
				<div class="icon seo"></div>

				<!-- Title -->
				<h4>Seo</h4>
			</li>

			<!-- Single Icon -->
			<li class="overview animated entrance" data-appear-bottom-offset="100">

				<!-- Feature List -->
				<div class="tooltip">
					<ul class="feature-list">
						<li><span class="list-dot"></span>Facebook Apps and Pages</li>
						<li><span class="list-dot"></span>Twitter Setup</li>
						<li><span class="list-dot"></span>Social Strategy and Planing</li>
					</ul>
				</div>
				<span class="arrow-down"></span>

				<!-- Icon -->
				<div class="icon social"></div>

				<!-- Title -->
				<h4>Social</h4>
			</li>

			<!-- Single Icon -->
			<li class="overview animated entrance" data-appear-bottom-offset="100">

				<!-- Feature List -->
				<div class="tooltip">
					<ul class="feature-list">
						<li><span class="list-dot"></span>HTML and CSS</li>
						<li><span class="list-dot"></span>PHP, Ruby and Python</li>
						<li><span class="list-dot"></span>Object C</li>
						<li><span class="list-dot"></span>Javascript and jQuery</li>
					</ul>
				</div>
				<span class="arrow-down"></span>

				<!-- Icon -->
				<div class="icon tech"></div>

				<!-- Title -->
				<h4>Tech</h4>
			</li>

			<!-- Single Icon -->
			<li class="overview animated entrance" data-appear-bottom-offset="100">

				<!-- Feature Lis -->
				<div class="tooltip">
					<ul class="feature-list">
						<li><span class="list-dot"></span>Online Shop Management</li>
						<li><span class="list-dot"></span>Database Support</li>
						<li><span class="list-dot"></span>E-commerce Cart</li>
					</ul>
				</div>
				<span class="arrow-down"></span>

				<!-- Icon -->
				<div class="icon commerce"></div>

				<!-- Title -->
				<h4>Commerce</h4>
			</li>

		</ul>
	</div>
	
</section>
<!-- End Services -->
