<!-- Begin Team -->
<section id="section5" class="content container">
	<div class="title grid-full">
		<h2>The team</h2>
		<span class="border"></span>
	</div>
	<ul class="team-list clearfix">
		<li class="team-member grid-2">
			<div class="name">
				<h4>Bruce Wayne</h4>
				<h6><em>designer</em></h6>
			</div>
			<p>Bruce is the man responsible for most of the graphic design. He is also a famous super hero by night.</p>
			<ul class="social-list">
				<li><a href="http://www.facebook.com" target="_blank"><i class="social-icon facebook small"></i></a></li>
				<li><a href="http://www.twitter.com" target="_blank"><i class="social-icon twitter small"></i></a></li>
			</ul>
		</li>
		<li class="team-member grid-2">
			<div class="name">
				<h4>James T. Kirk</h4>
				<h6><em>founder</em></h6>
			</div>
			<p>James is the founder of our small agency. He is the driving force behid all the creativity that goes around here.</p>
			<ul class="social-list">
				<li><a href="http://www.google.com" target="_blank"><i class="social-icon google small"></i></a></li>
				<li><a href="http://www.linkedin.com" target="_blank"><i class="social-icon linkedin small"></i></a></li>
			</ul>
		</li>
		<li class="team-member grid-2">
			<div class="name">
				<h4>Dick Grayson</h4>
				<h6><em>developer</em></h6>
			</div>
			<p>Dick is the best developer out there. His skills are unmatched and the stuff he does is simply amazing.</p>
			<ul class="social-list">
				<li><a href="http://www.facebook.com" target="_blank"><i class="social-icon facebook small"></i></a></li>
				<li><a href="http://www.behance.net" target="_blank"><i class="social-icon behance small"></i></a></li>
			</ul>
		</li>
	</ul>
	<img class="animated slide" src="assets/team.jpg" alt="team" data-appear-bottom-offset="150">
</section>
<!-- End Team -->