<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
	xmlns:0="urn:schemas-microsoft-com:office:office"
	xmlns:x="urn:schemas-microsoft-com:office:excel"
	xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
	xmlns:html="http://www.w3.org/TR/REC-html40">
		
	<Styles>
		<Style ss:ID="dealer">
		<Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
		<Font x:Family="Swiss" ss:Size="19" ss:Color="red"/>
		<Interior/>
		</Style>
	</Styles>
		
	<Worksheet ss:Name="Contacts">
		<Table>
			<Row>
				<Cell><Data ss:Type="String">Name</Data></Cell>
				<Cell><Data ss:Type="String">Email</Data></Cell>
				<Cell><Data ss:Type="String">Message</Data></Cell>
			</Row>
				
			<% @contacts.each do |c| %>
				<Row>
					<Cell><Data ss:Type="String"><%= c.name rescue "BLANK>>>>NAME MISSING" %></Data></Cell>
					<Cell><Data ss:Type="String"><%= c.email rescue "BLANK>>>>EMAIL MISSING" %></Data></Cell>
					<Cell><Data ss:Type="String"><%= c.user_message rescue "BLANK>>>>MESSAGE MISSING" %></Data></Cell>
				</Row>
			<% end %>
		</Table>
	</Worksheet>
	
</Workbook>
