<div style="font-size:20px;font-weight:800;">Snigi!</div><br/><br/>

<em><%= @contact.name rescue nil %></em> got in touch with you from your website from the below email address: 
<div><%= @contact.email rescue nil %></div><br/>

<div>This is what <%= @contact.name.split(" ").first.titleize rescue nil %> had to say;</div><br/>

<div style="padding-top:20px;padding-left:50px;"><em><%= simple_format(@contact.user_message) rescue nil %></em></div>