<div>Hi <%= @contact.name.split(" ").first.titleize %>,</div>
<br />
<div>Thanks for getting in touch!
<br /> 
I'll keep you updated with all future musicings! .......</div>

<br />
<div>All the best!</div>
<div>Anna</div>