<div>Hi <%= @contact.name.split(" ").first.titleize %>,</div>
<br />
<div>Thanks for getting in touch with me!
<br />
I'll get back to you as soon as I can</div>

<br />
<div>All the best!</div>
<div>Anna</div>