<div id="ajaxpage" class="container">

	<div class="project-title grid-full">
		<h4>{{artist}}</h4>
		<h6><em>{{title}}</em></h6>
	</div>

	<div class="project-info clearfix">
		<div class="grid-full description">
			<p>{{description}}</p>
		</div>
		<div class="grid-full">
			<div class="review"><img src="assets/quotes.png"><em>{{review_1}}</em></div>
		</div>
		<div class="grid-full">
			<a href="{{url}}" target="_blank" class="button8">Buy...</a>
		</div>
	</div>

</div>