<section class="parallax-bg2 parallax colored clearfix marginUp">
	<div class="content dark padded container">
		
		<div class="title grid-full credits">
			<h2>Credits</h2>
			<span class="border"></span>
			<br/><br/>
			<h6><%= link_to 'BACK', root_path, :class => "button" %></h6><br /><br /><br /><br />
			<div class="title grid-full">
			<p class="credits-text">Website designed and built by <a href="http://eghamilton.co.uk">Ed Hamilton</a></br>
				Front-end functionality based on the <a href="http://themeforest.net/item/visia-responsive-one-page-portfolio/5475877?ref=Aether-Themes">'Visia'</a> 
				theme from <a href="http://aetherthemes.com/">Aether Themes</a></p>
			<p>Cover image by Ed Hamilton<br/>
			Image, this page, still from the film 'الصل الناشر الملكي' by <a href="http://vimeo.com/volkanergen">Volkan Ergen</p>
		</div>
		</div>

		
</section>