<!-- Begin Navigation -->
<nav class="clearfix">

	<!-- Logo -->
	<div class="logo">
		<a id="top" href="#"><img id="logo" src="assets/logo.png" width="91" height="30" alt="Visia"></a>
	</div>

	<!-- Mobile Nav Button -->
	<button type="button" class="nav-button" data-toggle="collapse" data-target=".nav-content">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <!-- Navigation Links -->
    <div class="navigation">
		<ul class="nav-content">
			<li><a class="active" href="#section1">Hello</a></li>
			<li><a href="#section2">About</a></li>
			<li><a href="#section3">Services</a></li>
			<li><a href="#section4">Folio</a></li>
			<li><a href="#section5">Team</a></li>
		</ul>
	</div>

</nav>
<!-- End Navigation -->